
<nav>
  <a class="logo" href="/welcome">Logo</a>
  <ul>
    <li><a href="/results/<%= session[:id]%>">View Past Results</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</nav>

<div class="game_view">
  <div class="question">
    <p>Question: <%= @card.question %></p>
  </div>  

  <div class="answer">
    <% if @correct == true %>
    <p id="correct_answer"> YOUR ANSWER <%= @card.answer.upcase %> IS CORRECT! GREAT JOB!</p>
    <% else %>
    <p id="wrong_answer">Unfortunately you answered this incorrectly :/  The correct answer was <%= @card.answer %></p>
    <% end %>
  </div>   
  <% if @finished %>
  <a class="see_score" href="/results/<%= session[:id] %>">See Your Results!</a>
  <% else %>
  <a class="next_question" href="/game/question/<%= @game.id %>">Next Question!</a>
  <% end %>
</div>
