
<nav>
  <a class="logo" href="/welcome">Logo</a>
  <ul>
    <li><a href="/results/<%= session[:id]%>">View Past Results</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</nav>


<div class="game_view">
  <div class="question">
    <p><%= @card.question %></p>
  </div>  
  <div class="answer">
    <p><%= @card.answer %></p>
  </div> 
  <div class="answer">
    <p><%= @correct %></p>
  </div>   
  <a class="next_question" href="/game/question/<%= @game.id %>">Next Question!</a>
</div>
